@font-face{
	src : url("../fonts/NotoSansKR-Regular");
	font-family: "notoR";
}

@font-face{
	src : url("../fonts/NotoSansKR-Black");
	font-family: "notoB";
}


body{font-family: "notoR";}
h1{font-family: "notoB";}

/*.slider h3{font-family: "NEXONTWO";}*/

/* @font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('./fonts/nunito-v16-latin-ext_latin-regular.woff2') format('woff2'),
    		url('./fonts/nunito-v16-latin-ext_latin-regular.woff')
      	format('woff');
}


@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  src: local(''), url('./fonts/nunito-v16-latin-ext_latin-600.woff2') format('woff2'),
  			url('./fonts/nunito-v16-latin-ext_latin-600.woff') format('woff');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: local(''), url('./fonts/nunito-v16-latin-ext_latin-700.woff2') format('woff2'),
     url('./fonts/nunito-v16-latin-ext_latin-700.woff') format('woff');
} */
